@page
@model ThisIsSnackis.Pages.Admin.Reports.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Redigera anmälning</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Report.Id" />
            <div class="form-group">
                <label asp-for="Report.Description" class="control-label"></label>
                <input asp-for="Report.Description" class="form-control" />
                <span asp-validation-for="Report.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.UserId" class="control-label"></label>
                <input asp-for="Report.UserId" class="form-control" />
                <span asp-validation-for="Report.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.CreatedAt" class="control-label"></label>
                <input asp-for="Report.CreatedAt" class="form-control" />
                <span asp-validation-for="Report.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.PostId" class="control-label"></label>
                <input asp-for="Report.PostId" class="form-control" />
                <span asp-validation-for="Report.PostId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div><br />

<div>
    <a href="javascript:history.go(-1);" class="custom-link">Tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
