@page
@model ThisIsSnackis.Pages.Admin.UserPictures.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Ta bort profilbild</h1>


<div>
    <h4>UserPicture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPicture.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPicture.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPicture.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPicture.UserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UserPicture.Id" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> <br /><br />
        <a href="javascript:history.go(-1);" class="custom-link">Tillbaka</a>
    </form>
</div>
