@page
@model ThisIsSnackis.Pages.Admin.Headers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Ny rubrik</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Header.TheHeader" class="control-label">Rubrik: </label>
                <input asp-for="Header.TheHeader" class="form-control" />
                <span asp-validation-for="Header.TheHeader" class="text-danger"></span>
            </div><br /><br />
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div><br />

<div>
    <a href="javascript:history.go(-1);" class="custom-link">Tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
